{% extends "layout.html" %}

{% block body %}

<meta charset = "UTF-8">
        <meta name = "viewpoint" content = "width = device-width, initial-scale = 5.0">
        <meta http-equiv = "X-UA-compatible" content = "ie=edge">
        <title>Height, width, borders, background, css</title>
        <style>
           body 
           {
                 background-color: lightblue;
           }
           #c
           {
             text-align: center;
             color: #ff0000;
           }
        
            #firstpara
            {
                text-align: center;
                height: 150px;
                width: 180px;
                background-image: url('https://i.pinimg.com/236x/18/18/88/18188820e5da19a3908aeb18af5246b5--design-logos-book-logo-design.jpg');
            }
        </style>

      <h1 id = "firstpara"></h1>
     <h1 id = "c">wishlist</h1>
     <ol>
         {% for book in books %}
            <li>{{ book.title }}</li>
         {% endfor %}
     <ol>

{% endblock %}